
.home{
    position: absolute;
    box-sizing: border-box;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    opacity: 1;
}

.rectangle{
    height: 100vh;
    z-index: -10;
    background: #285073;
}

.jaune{
    height: 100vh;
    z-index: -10;
    background: #CFAD5E;
}

.menunav{
    position: absolute;
    width: 100%;
    top: 30px;
    font-family: "PT Sans Narrow";
    font-weight: bold;
    font-size: 14.5px;
    letter-spacing: 0.25em;
    line-height: 81px;
    text-align: left;
    color: #fff;
}

.fas{
    color:#285073;
    font-size: 2em;

}

.photo{
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
    opacity: 1;
    top: 50%;
    transform:translate(0,-50%);
}

.titre{
    font-family: "Volkhov", serif;
    font-weight: bold;
    font-size: 80px;
    letter-spacing: 0.03em;
    line-height: 100px;
    text-align: left;
    color: #fff;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 1;
    top: 50%;
    transform:translate(0,-50%);
}

.sous-titre{
    font-family: "PT Sans Narrow";
    font-weight: normal;
    font-size: 21.5px;
    letter-spacing: 0.05em;
    line-height: 81px;
    text-align: left;
    color: #fff;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 1;
    top: 80%;
    transform:translate(0,-80%);

}

.footer{
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    margin: 0;
    padding: 0;
    line-height: 70px
}

.last_chapter{
    font-family: "PT Sans Narrow";
    font-weight: normal;
    text-decoration: underline;
    font-size: 21px;
    color: #285073;
    background: #fff;
}

.all_chapter{
    font-family: "PT Sans Narrow";
    font-weight: normal;
    text-decoration: underline;
    font-size: 21px;
    color: #fff;
    background: #191919;
    z-index: -15;
}

.chapter{
    font-family: "PT Sans Narrow";
    font-weight: normal;
    font-size: 21.5px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #fff;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 1;
    top: 35%;
    transform:translate(0,-35%);
}

.fixed{
    position: fixed;
    bottom: 0px;
}

.text{
    background: #FCFAF2;
}

.marg-top{
    margin-top: 60px;
}

.text_sans-serif{
    font-family: "PT Sans Narrow";
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.text_serif{
    font-family: Georgia;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    text-align:justify;
    color: #191919;
}

.prev{
color: #759cbe;
margin-bottom: 70px;
font-family: "PT Sans Narrow";
font-weight: bold;
font-size: 14px;
letter-spacing: 0.15em;
text-transform: uppercase;

}

.next{
    text-align: right;
    color: #759cbe;
    margin-bottom: 70px;
    font-family: "PT Sans Narrow";
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

/* commentaires */

.grey_line{
    border-top: 1px solid #7d7d7d;   
}

.pseudo{
    font-family: "Arial", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 21px;
    text-align: left;
    color: #7d7d7d;
    text-transform: uppercase;
}
.comments{
    font-family: "Arial", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    color: #7d7d7d;
    margin-top: 15px;
    margin-bottom: 15px;
}
.alert_comment{
    color: #759cbe;
    margin-bottom: 70px;
    font-family: "PT Sans Narrow";
    font-weight: 400;
    font-size: 21px;
    text-align: right;
    text-transform: uppercase;
}

.add_comment{
    background: #e8e8e8;
    margin-bottom: 70px;
}

.title_add_comment{
    font-family: "Arial", sans-serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 21px;
    text-align: left;
    color: #7d7d7d;
    margin-top: 15px;
    margin-bottom: 15px;
    
}