.home {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    opacity: 1;
}

.menunav {
    position: absolute;
    width: 100%;
    top: 30px;
    font-family: "PT Sans Narrow";
    font-weight: bold;
    font-size: 14.5px;
    letter-spacing: 0.25em;
    line-height: 81px;
    text-align: left;
    color: #fff;
    z-index: 3;

}

/* css pour le burger */

/* CSS pour le reste */
.back_home a {
    color: #FFF;
}

.fas {
    color: #ffffff;
    font-size: 1em;
    margin-left: 15px;
    line-height: 1.5em;
}

.fas a:hover {
    color: #285073;
}

.btn {
    margin-bottom: 10px;
    background-color: #285073;
    color: #ffffff;
    border: solid 2px #FFF;
    padding: 10px;
    text-decoration: none !important;
}

.btn:hover {
    background-color: #ffffff !important;
    text-decoration: none !important;
    color: #285073;

}

.contenu {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    opacity: 1;
    z-index: 2;
}

.photo {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
    opacity: 1;
    z-index: 2;
    top: 30vh;
    transform: translate(0, -15vh);
    max-height: 500px;

}

.photo_chapter {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
    opacity: 1;
    top: 30vh;
    transform: translate(0, -15vh);
    max-height: 500px;

}

.titre {
    font-family: "Volkhov", serif;
    font-weight: bold;
    font-size: 70px;
    letter-spacing: 0.03em;
    line-height: 75px;
    text-align: left;
    color: #fff;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 1;
    top: 77vh;
    transform: translate(0, -40vh);
    z-index: 20;
    padding-bottom: 25px;
}

.sous-titre {
    font-family: "PT Sans Narrow";
    font-weight: normal;
    font-size: 21.5px;
    letter-spacing: 0.05em;
    line-height: 81px;
    text-align: left;
    color: #fff;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 1;
    top: 90vh;
    transform: translate(0, -25vh);
    z-index: 20;
}


.bt_lire {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    color: #fff;
    opacity: 1;
    z-index: 20;
    position: absolute;
    top: 90vh;
    transform: translate(0, -25vh);
}


.footer {
    display: flex;
    align-items: flex-end;
    height: 100vh;
    transform: translate(0, -70px);
    z-index: 4;
}

.background {
    height: 100vh;
    z-index: -10;
}

.rectangle {
    height: 100%;
}

.jaune {
    background: #CFAD5E;
}

.rouge {
    background: #CF5E62;
}

.bleu {
    background: #285073;
}

.vert {
    background: #489F6B;
}

.grey {
    background: #656565;
}

.last_chapter {
    font-family: "PT Sans Narrow";
    font-weight: normal;
    text-decoration: underline;
    font-size: 21px;
    color: #285073;
    background: #fff;
    text-align: center;
    height: 70px;
    line-height: 70px;
}

.last_chapter a {
    color: #285073;
}

.all_chapter {
    font-family: "PT Sans Narrow";
    font-weight: normal;
    text-decoration: underline;
    font-size: 21px;
    color: #fff;
    background: #191919;
    text-align: center;
    height: 70px;
    line-height: 70px;
    z-index: 2;
}

.all_chapter a {
    color: #fff;
}

/* ------ RESPONSIVE moins de 375 ------ */
@media screen and (max-width: 375px) {
    .titre {
        font-family: "Volkhov", serif;
        font-weight: bold;
        font-size: 40px;
        letter-spacing: 0.03em;
        line-height: 55px;
        text-align: left;
        color: #fff;
        position: absolute;
        box-sizing: border-box;
        overflow: hidden;
        opacity: 1;
        top: 77vh;
        transform: translate(0, -40vh);
        z-index: 20;
        padding-bottom: 25px;
    }

    .sous-titre {
        font-family: "PT Sans Narrow";
        font-weight: normal;
        font-size: 18px;
        letter-spacing: 0.05em;
        line-height: 22px;
        text-align: left;
        color: #fff;
        position: absolute;
        box-sizing: border-box;
        overflow: hidden;
        opacity: 1;
        top: 90vh;
        transform: translate(0, -25vh);
        z-index: 20;
    }
}

/* CSS des chapitres */
.chapter {
    font-family: "PT Sans Narrow";
    font-weight: normal;
    font-size: 21.5px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #fff;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 1;
    top: 240px;
}

.fixed {
    position: fixed;
    bottom: 0px;
}

.text {
    background: #FCFAF2;
}

.marg_top-60 {
    margin-top: 60px;
}

.marg_top-30 {
    margin-top: 30px;
}

.marg_top-15 {
    margin-top: 15px;
}

.text_sans-serif {
    font-family: "PT Sans Narrow";
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.text_serif {
    font-family: Georgia;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    text-align: justify;
    color: #191919;
}

.text_serif p {
    background: #FCFAF2 !important;
}

.prev {
    color: #759cbe;
    margin-bottom: 70px;
    font-family: "PT Sans Narrow";
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

}

.next {
    text-align: right;
    color: #759cbe;
    margin-bottom: 70px;
    font-family: "PT Sans Narrow";
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.problem {
    color: #CF5E62;
    background: #e8e8e8;
    padding: 5px;
}

/* commentaires */

.grey_line {
    border-top: 1px solid #7d7d7d;
}

.pseudo {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 21px;
    text-align: left;
    color: #7d7d7d;
    text-transform: uppercase;
}

.comments {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    color: #7d7d7d;
    margin-top: 15px;
    margin-bottom: 15px;
}

.alert_comment {
    color: #759cbe;
    margin-bottom: 70px;
    font-family: "PT Sans Narrow";
    font-weight: 400;
    font-size: 21px;
    text-align: right;
    text-transform: uppercase;
}

.add_comment {
    background: #e8e8e8;
    margin-bottom: 70px;
}

.title_add_comment {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 21px;
    text-align: left;
    color: #7d7d7d;
    margin-top: 15px;
    margin-bottom: 15px;

}


/* Commentaires front */

.commentaire_form {
    background-color: rgb(232, 232, 232);
}

/* Back - Manager */
.titre_manager {
    font-family: "Volkhov", serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    color: #cfad5e;
}

.manager_form {
    background-color: #FCFAF2;

}

.tox-edit-area__iframe {
    background-color: #FCFAF2 !important;
}

.radio_marg {
    margin-right: 10px;
}

.fa-pencil-alt {
    color: #FFF;

}

.titre_module_chapitre {
    background-color: #CFAD5E;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: "PT Sans Narrow";
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #fff;


}

.titre_module_commentaires {
    background-color: #656565;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: "PT Sans Narrow";
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #fff;

}

.contenu_module_chapitre {
    background: #fcfaf2;
    height: 160px;
}

.contenu_module_comments {
    background: #E8E8E8;
    height: 160px;
}

.contenu_padding {
    padding: 10px;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
}

h5 {
    font-family: "PT Sans Narrow";
    font-weight: bold;
    font-size: 18px;
    color: #cfad5e;
}

.titre_module {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #000;
    margin-bottom: 5px;

}

.date_publi {
    font-size: 16px;
    color: #676767;
}

.separation_gauche {
    border-left: 1px solid #707070;

}

.bouton_modules {
    height: 80px;
    border: 0;
    margin: 0 !important;
    background: #fcfaf2 !important;
}

.supprimer {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #cf5e62;
    border-top: 1px solid #707070;
    text-align: center;
    border-radius: 0%;
}

.modifier a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #489F6B;
    text-align: center;
    text-decoration: none;
}

.centered {
    display: flex;
    flex-direction: row;
    place-content: center;
    align-items: center;
}

.image_cover {
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 1)), url('img/photo1.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    overflow: hidden;
    display: flex;
    align-items: center;

}

.hello{
    font-family: "Volkhov", serif;
    font-weight: bold;
    font-size: 70px;
    letter-spacing: 0.03em;
    line-height: 75px;
    text-align: left;
    color: #fff;
}

.inscription p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    margin: 15px 0 5px 0;;
}

input{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    margin: 5px 0 5px 0;
    width: 70%;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
}

nav ul.back {
    list-style-type: none;
    margin: auto;
    width: 100%;

}

nav ul.back li a {
    text-decoration: none;
    font-size: 25px;
    font-family: "PT Sans Narrow";
    font-weight: normal;
    color: #CFAD5E;

}

nav ul.back li a:hover {
    color: #FFF;
}

.fa-igloo{
    color: #CFAD5E;
    margin-right: 10px;
}