.home {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    opacity: 1;
}

.menunav {
    position: absolute;
    width: 100%;
    top: 30px;
    font-family: "PT Sans Narrow";
    font-weight: bold;
    font-size: 14.5px;
    letter-spacing: 0.25em;
    line-height: 81px;
    text-align: left;
    color: #fff;
    z-index: 20;

}
/* Ebauche d'un css pour le menu */
/* .menu {
    background-color: #000000;
    display: none;
    height: 100vh;
    z-index: 25;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

} */

.back_home a {
    color: #FFF;
}

.fas {
    color: #285073;
    font-size: 2em;
}

.contenu {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    opacity: 1;
    z-index: 15;
}

.photo {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
    opacity: 1;
    z-index: 15;
    top: 120px;

}

.photo_chapter {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
    opacity: 1;
    top: 120px;

}

.titre {
    font-family: "Volkhov", serif;
    font-weight: bold;
    font-size: 80px;
    letter-spacing: 0.03em;
    line-height: 100px;
    text-align: left;
    color: #fff;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 1;
    top: 77vh;
    transform: translate(0, -40vh);
    z-index: 20;
}

.sous-titre {
    font-family: "PT Sans Narrow";
    font-weight: normal;
    font-size: 21.5px;
    letter-spacing: 0.05em;
    line-height: 81px;
    text-align: left;
    color: #fff;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 1;
    top: 90vh;
    transform: translate(0, -25vh);
    z-index: 20;
}

.footer {
    display: flex;
    align-items: flex-end;
    height: 100vh;
    transform: translate(0, -70px);
    z-index: -10;
}

.background {
    height: 100vh;
    z-index: -10;
}

.rectangle {
    height: 100%;
}

.jaune {
    background: #CFAD5E;
}

.rouge {
    background: #CF5E62;
}

.bleu {
    background: #285073;
}

.vert {
    background: #489F6B;
}

.last_chapter {
    font-family: "PT Sans Narrow";
    font-weight: normal;
    text-decoration: underline;
    font-size: 21px;
    color: #285073;
    background: #fff;
    text-align: center;
    height: 70px;
    line-height: 70px;
}

.last_chapter a {
    color: #285073;
}

.all_chapter {
    font-family: "PT Sans Narrow";
    font-weight: normal;
    text-decoration: underline;
    font-size: 21px;
    color: #fff;
    background: #191919;
    /* z-index: -15; */
    text-align: center;
    height: 70px;
    line-height: 70px;
}

.all_chapter a {
    color: #fff;
}

.chapter {
    font-family: "PT Sans Narrow";
    font-weight: normal;
    font-size: 21.5px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #fff;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 1;
    top: 240px;
}

.fixed {
    position: fixed;
    bottom: 0px;
}

.text {
    background: #FCFAF2;
}

.marg_top-60 {
    margin-top: 60px;
}

.marg_top-30 {
    margin-top: 30px;
}

.marg_top-15 {
    margin-top: 15px;
}

.text_sans-serif {
    font-family: "PT Sans Narrow";
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.text_serif {
    font-family: Georgia;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    text-align: justify;
    color: #191919;
}

.text_serif p {
    background: #FCFAF2 !important;
}

.prev {
    color: #759cbe;
    margin-bottom: 70px;
    font-family: "PT Sans Narrow";
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

}

.next {
    text-align: right;
    color: #759cbe;
    margin-bottom: 70px;
    font-family: "PT Sans Narrow";
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

/* commentaires */

.grey_line {
    border-top: 1px solid #7d7d7d;
}

.pseudo {
    font-family: "Arial", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 21px;
    text-align: left;
    color: #7d7d7d;
    text-transform: uppercase;
}

.comments {
    font-family: "Arial", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    color: #7d7d7d;
    margin-top: 15px;
    margin-bottom: 15px;
}

.alert_comment {
    color: #759cbe;
    margin-bottom: 70px;
    font-family: "PT Sans Narrow";
    font-weight: 400;
    font-size: 21px;
    text-align: right;
    text-transform: uppercase;
}

.add_comment {
    background: #e8e8e8;
    margin-bottom: 70px;
}

.title_add_comment {
    font-family: "Arial", sans-serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 21px;
    text-align: left;
    color: #7d7d7d;
    margin-top: 15px;
    margin-bottom: 15px;

}


/* Commentaires front */

.commentaire_form {
    background-color: rgb(232, 232, 232);
}
/* Back - Manager */

.titre_manager {
    font-family: "Volkhov", serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    color: #cfad5e;
}

.manager_form {
    background-color: #FCFAF2;

}

.tox-edit-area__iframe {
    background-color: #FCFAF2 !important;
}

.radio_marg {
    margin-right: 10px;
}

.fa-pencil-alt {
    color: #FFF;

}